/* 1554px */
*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
@font-face {
    font-weight: 400;
    font-family: "STARLYNX";
    src: url("fonts/STARLYNX.ttf");
}
@font-face {
    font-weight: 400;
    font-family: "STARLYNX";
    src: url("fonts/STARLYNX.otf");
}
body{
    background-color:#0F0F19;
}
.container{
    margin-left: 200px;
    margin-right: 0;
}  
/* ============= RIGHT SIDE ================ */
.vehicles{
    margin: 95px 0;
}
.vehicles__section{
    display: flex;
    gap: 9%;
}
.vehicles__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vehicles__info{
    position: relative;
}
.vehicles__info-header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 30px;
    left: 30px;
    right: 30px;
}
.vehicles__img-title{
    font-size: 36px;
    font-family: "STARLYNX";
    font-weight: 400;
    line-height: 39.6px;
    color: #fff;
    text-transform: uppercase;
}
.vehicles__img-passengers{
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 29.26px;
    color: #fff;
    letter-spacing: 5%;
}

.vehicles__info-footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
    left: 30px;
    right: 30px;
    gap: 40px;
}
.vehicles__img-text{
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 22.4px;
    text-align: left;
    max-width: 384px;
}
.vehicles__img-btn{
    padding: 25px 90px;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #232AFD;
    border: 0;
    cursor: pointer;
}
.vehicles__img-loupe{
    width: 140px;
    height: 140px;
    background-color: #2C2C46;
    border: 0;
    outline: none;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 11px 0px rgb(255, 255, 255 , .5);
}
.loupe__img{
    width: 100%;
    height: 100%;
}
.glass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #fff;
}

/* ============== LEFT SIDE ===============  */
.vehicles__slider{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.vehicles__slider-title{
    font-size: 60px;
    font-family: "STARLYNX";
    font-weight: 400;
    color: #fff;
    opacity: .3;
}
.vehicles__slider-top{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.vehicles__swiper {
  width: 100%;
  height: 408px;
}


.notPNG{
  padding: 10px 0;
}

.vehicles__item {
  font-size: 18px;
  flex: 1 1 287px;
}

.vehicles__item-hidden {
  flex: 1 1 50px;
  visibility: hidden;
}

.vehicles__item-container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
}

.vehicles__item-img{
  height: 233px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 28px 0;
}

.vehicles__item-info{
  background-color: #2C2C46;
  padding: 30px;
}
.vehicles__item-title{
  font-size: 20px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.vehicles__item-text{
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 44px;
}
.vehicles__item-link{
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  position: relative;
}
.vehicles__item-link::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 140%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* ============== CONTROLLERS =============== */
.swiper-button-next, .swiper-button-prev {
    width: 47px !important;
    height: 47px !important;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    border: 1px solid #fff;
}
.swiper-button-next::after,.swiper-button-prev::after{
    content: '';
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px !important;
    transition: .3s;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #fff;
}
.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
    color: #232AFD;
}
.controllers {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-left: 150px;
    position: relative;
    top: 20px;
}

/* ============Number of rows============== */
.vehicles__seats{
    margin-top:35px;
}
.vehicles__seats-title{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 28px;
}
.vehicles__seats-rows{
    display: inline-flex;
    flex-direction: column;
}
.vehicles__seats-row{
    display: flex;
    border: 1px solid #fff;
    margin-bottom: 15px;
}
.vehicles__seats-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    position: relative;
}
.vehicles__seats-item::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1px;
    height: 29px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.vehicles__seats-item:last-child:after{
    display: none;
}
.vehicles__seats-number{
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding: 12px 24px;
    cursor: pointer;
}
.vehicles__seats-item:hover{
    background-color: #fff;
    transform: scale(1.111);
}
.vehicles__seats-item:hover .vehicles__seats-number{
    color: #232AFD;
    font-weight: 700;
}
.vehicles__seats-item:hover::after{
    display: none;
}
